<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">  
</head>
<body>
  <header>
  <div class = "header-logo">Blog</div>
  <div class ="header-list">
    <a class="button" href="#SignIn">SignIn</a>
    <a class="button2" href="#SignOut">SignOut</a>
    <a class="button3" href="#New">New</a>
  </div>
  </header>
</body>
</html>